.post_blog_title{
    display: block;
    color: white;
    font-size: 60px;
    background-color: transparent;
    margin-bottom: 30px;
    font-weight: 500;
}

.post_blog_title2{
    display: block;
    color: black;
    font-size: 60px;
    background-color: transparent;
    margin-bottom: 30px;
    font-weight: 500;
}

.post_blog_content{
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 30px;
    color: black;
    text-align: left;
    white-space: pre-wrap;
}

.title_block{
    background-color: rgb(49, 123, 172);
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.title_block2{
    background-color: rgb(250, 142, 59);
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

.title_block3{
    background-color: rgb(87, 141, 87);
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.separate_line{
    background-color: rgba(220,220,220);
    margin-left: 100px;
    margin-right: 100px;
    border: none;
    height: 1px;
}

.comment_input{
    margin-left: 5px;
    width: 80%;
    margin-right: 10px;
}

.profilePic2{
	height: 60px;
	width: 60px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 50%;
    
}

.comment_block{
    margin-left: 100px;
    display: flex;
    margin-bottom: 5px;
}

.comment_button{
    height: 40px;
    
    display: flex;
    justify-content: flex-end;
    margin-right: 170px;
}

.comment_num{
    left: 100px;
    margin-top: 20px;
    margin-left: 100px;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    
}

.comment_content{
    margin-left: 5px;
    white-space: pre-wrap;
    text-align: left;
}

.comment_name{
    font-weight: bold;
    display: block;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.comment_block2{
    margin-left: 100px;
    display: flex;
    margin-top: 20px;
}

.like_block{
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.like_num{
    margin-top: 12px;
    font-weight: bold;
    color: rgb(82, 80, 80);
}

.main_container{
    margin-top: 80px;
    background-color: white;
}

.pic_video_title{
    font-size: 50px;
    font-weight: bold;
}

.blog_username {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.blog_img {
    max-width: 800px;
    max-height: 800px;
}

.description_container {
    white-space: pre-wrap;
    padding-top: 0
}

.description {
    margin-top: 0
}