.admintitle {
  background: #bafdff;
}

.appbar {
  padding-left: 100px;
}

.adminPage {
  background: #bafdff;
}

.appbarTitle {
  margin-left: 100px;
  padding-left: 20px;
}

.adminDrawer {
  width: 240px;
  min-width: 240px;
}

.adminContentContainer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.adminContent {
  overflow: visible;
  margin-left: 118px;
  margin-top: 64px;
  margin-right: 30px;
  padding: 20px;
  width: 80%;
  justify-content: center;
}

.userCount {
  font-size: 120%;
  font-weight: bold;
}

.userTable {
  display: flex;
  width: 75%;
}

.newPostCount {
  font-size: 120%;
  font-weight: bold;
}
